body {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  background: #1B3C4B ;
  color: white;
}
/* Header*/
.name {
  color: white;
  margin: 50px;
  border-style: solid;
  border-width: 4px;
  background-color: #0E242E;
  border-color: black;
  text-align: center;
  font-size: 30px;
  
}


/* career objective*/
.summary {
  text-align: center;
  font-size: 20px;
  border-bottom: solid 2px black;
}

#jobs p{
  padding-left: 20px;
  padding-bottom: 20px;
}
/* career objective*/
.column {
  text-align: center;
  font-size: 20px;
  
}

#jobs {
  border-bottom: solid 2px black;
}
/* Footer*/
#contact {
	height: 20px;
	width: 100%;
	margin: 5px 0;
	padding-left: 10px;
	padding-top: 0px;
    font-weight: 800;
}

#contact ul {
	list-style: none;
	float: left;
	padding-left: 10px;
}

#contact li {
	float: left;
	border-right: solid 1px white;
	padding: 0px 15px;
}

#contact li:last-child {
	border-right: none;
}

#contact li p {
	font-size: .7em;
	float: left;
	padding: 7px 5px 0px 5px;
}




